/* グローバルスタイル */

/* 全体の基本フォントサイズを設定（デフォルトより2ポイント小さくする） */
body {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

/* 見出しのフォントサイズとマージンの調整 */
h1, h2, h3, h4, h5, h6 {
    font-size: calc(1em - 0.125em);
    margin-bottom: 0.5em;
}

.news-management-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em;
}

/* サイドバーのスタイル */
.sidebar {
    width: 250px;
    background-color: #006241;
    color: #fff;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.nav-link {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: padding-left 0.3s;
}

.nav-link:hover {
    background-color: #004a33;
    padding-left: 15px;
}

.content {
    padding: 20px;
    width: calc(100% - 250px);
    margin-left: 250px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

/* テーブルのスタイル */
.table {
    font-size: 14px;
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

.table th, .table td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    text-align: center;
    background-color: #f1f1f1;
    font-weight: bold;
}

/* テーブルのレコードの縦幅を狭くする */
.table-sm tbody tr {
    height: 30px;
    padding: 0;
}

/* テーブルのセル内の余白を削減する */
.table-sm td, .table-sm th {
    padding: 0.20rem;
}

/* タスクタイムラインのスタイル */
.table-timeline {
    font-size: 14px;
    margin-bottom: 1em;
}

.table-timeline th, .table-timeline td {
    padding: 0.5em;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table-timeline th {
    text-align: center;
    background-color: #f1f1f1;
    font-weight: bold;
}

/* 列幅調整 */
.table-timeline th.status, .table-timeline td.status {
    width: 80px;
}

.table-timeline th.task-name, .table-timeline td.task-name {
    width: 70px;
}

.table-timeline th.start-time, .table-timeline td.start-time {
    width: 90px;
}

.table-timeline th.duration, .table-timeline td.duration {
    width: 90px;
}

.table-timeline th.record-count, .table-timeline td.record-count {
    width: 80px;
}

.table-timeline th.error-message, .table-timeline td.error-message {
    width: 350px;
}

/* レコードをハイライトするクラス */
.highlight-row {
    background-color: #ffff90; /* ハイライト色 */
    color: #fd1e00; /* 赤っぽい文字色 */
}

/* 中央寄せを適用 */
.text-center {
    text-align: center;
}
